.bg-img-contact{
    background-color: #eff2fc;
}
.form-control{
    // box-sizing: border-box;
    border: .2rem solid #85858531;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 0rem solid rgba(255, 255, 255, 0.247);
    background-color: #eff2fc;
}

label{
    font-size: 1.1rem;
}


